<% content_for(:title, "Japanese kanji dictionary - #{@kanji.character}") %>
<% content_for(:description, "Japanese kanji dictionary entry for #{@kanji.character}. Kunyomi, onyomi, nanori readings and english meanings, stroke count and stroke order diagram for the character.") %>

<div class="row">
    <div class="col-md-6">
        <h2>Details for kanji: <%= @kanji.character %></h2>

        <dl>
            <dt>Number of strokes</dt>
            <dd><%= @kanji.strokes %></dd>
            <dt>English meanings</dt>
            <dd><%= @kanji.meanings.map(&:text).join(", ") %></dd>
            <dt>Kunyomi <small class="text-muted">(japanese readings)</small></dt>
            <dd>
            <% if @kanji.kunyomis.length < 1 %>
                No kunyomi readings for this kanji.
            <% end %>
            <% @kanji.kunyomis.map(&:text).each do |reading| %>
                <%= link_to reading, dictionary_path(:q => "#{@kanji.character} #{reading.sub(".", "")}") %>;
            <% end %>
            </dd>
            <dt>Onyomi <small class="text-muted">(chinese readings)</small></dt>
            <% if @kanji.onyomis.length < 1 %>
                No onyomi readings for this kanji.
            <% end %>
            <dd>
            <% @kanji.onyomis.map(&:text).each do |reading| %>
                <%= link_to reading, dictionary_path(:q => "#{@kanji.character} #{katakana_to_hiragana reading}") %>;
            <% end %>
            </dd>
            <dt>Nanori <small class="text-muted">(readings in Japanese names)</small></dt>
            <dd>
            <% if @kanji.nanoris.length < 1 %>
                No nanori readings for this kanji.
            <% end %>
            <% @kanji.nanoris.map(&:text).each do |reading| %>
                <%= reading %>;
            <% end %>
            </dd>
            <dt>Kanji stroke order</dt>
            <dd>
            <div id="kanji-stroke-order">
                <% @kanji.stroke_data.each_with_index do |_,idx| %>
                    <%= render :template => "kanjis/show.svg", :locals => {:stroke_number=>idx} %>
                <% end %>
            </div>
            </dd>
        </dl>
    </div>
    <div class="col-md-4 well">
        <h4>Words containing this kanji</h4>
        <dl>
            <% @words.limit(5).each do |w| %>
                <dt><%= link_to w.kanji, w %> <span class="text-muted"><%= w.kana %></span></dt>
                <dd>&nbsp;<small><%= w.definitions.first.text %></small></dd>
            <% end %>
        </dl>
            <% if @words.count() > 5 %>
                <p>Search for <%= link_to "more words", dictionary_path(:q => @kanji.character) %>.</p>
            <% end %>
    </div>
</div>
