<svg  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="110" height="110">
<g fill="none">
<% @kanji.stroke_data.each_with_index do |stroke, idx|
    color = "black"
    if defined? stroke_number
        if idx == stroke_number
            color = "red"
        elsif idx > stroke_number
            color = "gray"
        end
    end
%>
<path id="<%= idx+1 %>" stroke-width="2" stroke="<%= color %>" d="<%= stroke %>" />
<% end %>
</g>
</svg>
