<% content_for(:title, "My words") %>

<h3>My words</h3>

<% if @user_words.count == 0 %>
    <p>You have not added any words yet.</p>
<% end %>

<% if not @user_words.nil? and @user_words.length > 0 %>
    <% @user_words.each do |uw| %>
        <% w = uw.word %>
        <strong><%= link_to w.kanji, w %></strong> <% if w.kana %>&nbsp;<span class="text-muted"><%= w.kana %></span><% end %>
        <% if w.common %>
            <span class="label label-default">common</span>
        <% end %>
        <%= link_to uw, :method => :delete, :data => { :confirm => "Do you really want to remove this word?" } do %>
            <i class="fa fa-trash-o"></i>
        <% end %>
        <small>
            <ol>
                <% w.definitions.each do |d| %>
                    <li><%= d.text %></li>
                <% end %>
            </ol>
        </small>
    <% end %>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <%= will_paginate @words, :renderer => BootstrapPagination::Rails, :inner_window => 1, :outer_window => 0, :previous_label => "&laquo;", :next_label => "&raquo;" %>
        </div>
    </div>
<% end %>
