<% content_for(:title, "Sign in") %>

<h1>Sign in</h1>

<p>If you don't have an account <%= link_to "click here", signup_path %> to sign up.</p>

<%= form_tag sessions_path do %>
    <div class="form-group">
        <%= label_tag :email %>
        <%= email_field_tag :email, nil, :placeholder => "Enter email", :class => "form-control" %>
    </div>
    <div class="form-group">
        <%= label_tag :password %>
        <%= password_field_tag :password, nil, :placeholder => "Password", :class => "form-control" %>
    </div>
    <%= submit_tag "Sign in", :class => "btn btn-default" %>
<% end %>
