<% content_for(:title, "Sign up") %>

<h1>Sign up</h1>
<%= form_for @user do |f| %>
    <% if @user.errors.any? %>
        <div class="alert alert-warning alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <ul>
          <% for message in @user.errors.full_messages %><li><%= message %></li><% end %>
        </ul>
    </div>
    <% end %>

    <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, :placeholder => "Enter email", :class => "form-control" %>
    </div>
    <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, :placeholder => "Password", :class => "form-control" %>
    </div>
    <div class="form-group">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, :placeholder => "Password", :class => "form-control" %>
    </div>
    <%= f.submit(:class => "btn btn-default") %>
<% end %>
