<% content_for(:title, "About") %>
<% content_for(:description, "About the page and contributions") %>

<div class="row">
    <div class="col-md-6">
        <h1>About</h1>

        <p>Reading novels and other texts in Japanese can be hard, especially for students of Japanese, such as myself, that don't know every kanji. Nakama is an attempt to make looking up kanji slightly faster by using <abbr title="Optical Character Recognition" class="initialism">OCR</abbr>.</p>

        <h3>Special thanks <small>(in no special order)</small></h3>
        <ul>
            <li>The dictionary and Kanji data comes from Jim Breen's <%= link_to "WWWJDIC", "http://www.edrdg.org/jmdict/edict_doc.html" %> project.</li>
            <li>The <%= link_to "Tanaka Corpus", "http://www.edrdg.org/wiki/index.php/Tanaka_Corpus" %> was used for the sentence data.</li>
            <li>Kanji stroke order data from <%= link_to "KanjiVG", "http://kanjivg.tagaini.net/" %> was used for the kanji diagrams.</li>
            <li>All icons used come from <%= link_to "Font Awesome", "http://fontawesome.io" %> by Dave Gandy</li>
            <li><%= link_to "Bootstrap", "http://getbootstrap.com/" %> was used for the design.</li>
            <li>OCR is done with <%= link_to "Google Tesseract", "https://code.google.com/p/tesseract-ocr/" %>.</li>
        </ul>

        <p>This application was created by <%= link_to "Andreas Argelius", "http://argeli.us" %>. The <%= link_to "source code", "https://bitbucket.org/argelius/nakama" %> is released under the <%= link_to "MIT license.", "http://opensource.org/licenses/MIT" %></p>
    </div>
</div>
<hr>
<footer>
<span class="text-muted">&copy; 2014 Andreas Argelius</span>
</footer>
