<% content_for(:title, "Japanese dictionary") %>

<div class="row">
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-8">
                <h3>Dictionary search</h3>
                <%= render "words/search" %>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <h3>Find words in images</h3>
                <p>You can upload scanned images or photographs from your mobile phone. Swipe the words or characters that you want to know the meaning of.</p>
                <p>
                <%= form_for @photo, :html => { :multipart => true } do |f| %>
                    <%= f.file_field :file, :accept => "image/*", :class => "form-control", :class => "hide" %>
                    <%= button_tag(:class => "btn btn-default", :id => "capture") do %>
                        <i class="fa fa-camera"></i> Capture from camera
                    <% end %>
                    <%= button_tag(:class => "btn btn-default", :id => "upload") do %>
                        <i class="fa fa-upload"></i> Upload from disk
                    <% end %> 
                <% end %>
                </p>
                <p>You can try it out on a <%= link_to "sample image", sample_path %>.</p>
            </div>
        </div>
    </div>
    <div class="well col-md-4">
        <h3>About <%= title %></h3>

        <p><%= title %> is a Japanese dictionary application. It is designed to be usable both on a desktop computer as well as on a mobile device.</p>

        <p>This is work in progress and should be considered an alpha version. Don't be alarmed if things break randomly. Please send bug reports and suggestions to <%= mail_to("andreas.argelius@gmail.com", "Andreas Argelius") %>.

        <p>Features to be (but not yet) implemented:</p>

        <ul>
            <li>Radical search</li>
            <li>Handwriting recognition</li>
        </ul>
    </div>
</div>
<hr>
<footer>
<span class="text-muted">&copy; 2014 Andreas Argelius</span>
</footer>
