<p>Input kana, kanji or English words in the box below.</p>
<small><p class="text-muted">Use '*' as a wildcard, e.g. to search for all words starting with "本", type: "本*". Switch input mode by clicking the icon.</p></small>
<%= form_tag dictionary_path, :method => 'get', :class => "form-inline" do %>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <div class="input-group">
                    <span id="switch-input-mode" class="input-group-addon">あ</span>
                    <%= search_field_tag :q, params[:q], :class => "form-control" %>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <%= button_tag :class => "btn btn-default" do %>
                <i class="fa fa-search"></i>&nbsp; Search
            <% end %>
        </div>
    </div>
<% end %>

