<h3>Glossary</h3>

<% if params[:c].nil? %>
    <% content_for(:title, "Glossary") %>
    <% content_for(:description, "Japanese glossary. Find words by starting characters.") %>
<% else %>
    <% content_for(:title, "Glossary - #{params[:c]}") %>
    <% if params[:page] 
        content_for(:title, " - Page #{params[:page]}")
    end %>
    <% content_for(:description, "Japanese glossary. Find words starting with #{params[:c]}") %>
    <ol class="breadcrumb">
        <li><%= link_to "Home", glossary_path %></li>
        <% current = "" %>
        <% params[:c].scan(/./)[0..-2].each do |c| %>
            <% current += c %>
            <li><%= link_to current, glossary_search_path(:c => current) %></li>
        <% end %>
        <li class="active"><%= params[:c] %></li>
    </ol>
<% end %>

<div id="glossary-index">
    <% @characters.each do |c| %>
        <%= link_to c.character, glossary_search_path(:c => "#{params[:c]}#{c.character}") %>
    <% end %>
</div>

<% if not @words.nil? and @words.length > 0 %>
    <hr>
    <h4>Words</h4>
    <% @words.each do |w| %>
        <%= link_to w.kanji, w %> <% if w.kana %>&nbsp;<span class="text-muted"><%= w.kana %></span><% end %>
        <% if w.common %>
            <span class="label label-default">common</span>
        <% end %>
        <small>
            <ol>
                <% w.definitions.each do |d| %>
                    <li><%= d.text %></li>
                <% end %>
            </ol>
        </small>
    <% end %>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <%= will_paginate @posts, :renderer => BootstrapPagination::Rails, :inner_window => 1, :outer_window => 0, :previous_label => "&laquo;", :next_label => "&raquo;" %>
        </div>
    </div>
<% end %>

