<% if params[:q].nil? %>
    <% content_for(:title, "Japanese dictionary search") %>
    <% content_for(:description, "Japanese dictionary search. Search for Japanese words and English definitions using hiragana, katakana, kanji or English.") %>
<% else %>
    <% content_for(:title, "Japanese dictionary search - #{params[:q]}") %>
    <% if params[:page] 
        content_for(:title, " - Page #{params[:page]}")
    end %>
    <% content_for(:description, "Japanese dictionary search results for #{params[:q]}. Find English definitions and example sentences.") %> 
<% end %>

<h3>Dictionary search</h3>
<%= render "words/search" %>
<% if params[:q] %>
    <% mark = params[:q].gsub("*", "").strip.split(/[ 　]+/).sort_by(&:length).reverse %>
    <hr>
    <h4>Words for "<%= highlight(params[:q], mark) %>"</h4>
    <p class="text-muted"><small><%= page_entries_info @words, :model => "entry" %></small></p>
    <% @words.each do |w| %>
        <h3>
            <%= link_to w do %><%= highlight(w.kanji, mark) %><% end %>
            <% if w.kana %>&nbsp;
                <small><%= highlight(w.kana, mark) %></small>
            <% end %>
        </h3>
        <% if w.common %>
            <small class="text-success">Common word</small>
        <% end %>
        <ol>
            <% w.definitions.each do |d| %>
                <li><%= highlight(d.text, mark) %></li>
            <% end %>
        </ol>
    <% end %>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <%= will_paginate @posts, :renderer => BootstrapPagination::Rails, :inner_window => 1, :outer_window => 0, :previous_label => "&laquo;", :next_label => "&raquo;" %>
        </div>
    </div>
<% end %>


