<% content_for(:title, "Dictionary - #{@word.kanji}") %>
<% content_for(:description, "Japanese dictionary entry for #{@word.kanji}. Find English definitions for this word and example sentences.") %>

<div class="row">
    <div class="col-md-6">
        <h2>
            <%= @word.kanji %>
            <% if @word.kana %>
                <span class="text-muted">
                <%= @word.kana %>
            </span>
        <% end %>
            <% if @word.common %>
                <small><span class="label label-default">common</span></small>
        <% end %>
        </h2>
        <% if current_user %>
            <%= link_to "Add to my words", user_words_path(:id => @word.id), :method => :post, :id => 0 %>
    <% end %>
        <hr>
        <h3>English definitions</h3>
        <ol>
            <% @word.definitions.each do |d| %>
                <li><%= d.text %></li>
        <% end %>
        </ol>
    </div>
    <div class="col-md-4 well">
        <h4>Kanji in this word</h4>
        <% if @kanjis.count > 0 %>
            <dl>
            <% @kanjis.each do |k| %>
                <dt><%= link_to k.character, k %></dt>
            <dd>&nbsp;<small><%= k.meanings.map(&:text).join(", ") %></small></dd>
        <% end %>
        </dl>
    <% else %>
            <p>There are no kanji in this word.</p>
    <% end %>
    </div>
</div>

<h3>Sentences</h3>
<% if @sentences.length > 0 %>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Japanese</th>
            <th>English</th>
        </tr>
    </thead>
    <tbody>
    <% @sentences.each do |s| %>
        <% 
                words = {}
        s.japanese_raw.split(" ").each do |w| 
            w =~ /([^{(\[~]*)/

            in_dictionary = in_sentence = $1

            if w =~ /\{(.*)\}/
                in_sentence = $1
            end

            if w =~ /\((.*)\)/
                kana = $1
            end
            words[in_sentence] = in_dictionary
        end

        words.keys.sort_by(&:length).reverse().each do |k|
            s.japanese.gsub!(/#{k}(?!<\/a>)/, link_to(k, dictionary_path(:q=>words[k])))
        end
    %>
    <tr>
            <td><%= highlight(s.japanese, verb_forms(@word.kanji)) %></td>
            <td><%= s.english %></td>
        </tr>
        </tbody>
    <% end %>
    </table>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <%= will_paginate @sentences, :renderer => BootstrapPagination::Rails, :inner_window => 1, :outer_window => 0, :previous_label => "&laquo;", :next_label => "&raquo;" %>
        </div>
    </div>
<% else %>
    <p>There are no example sentences for this word.</p>
<% end %>

