<div id="nakama-controls" class="btn-toolbar">
    <div class="btn-group">
        <button id="nakama-zoom-in" class="btn btn-default"><i class="fa fa-search-plus"></i></button>
        <button id="nakama-zoom-out" class="btn btn-default"><i class="fa fa-search-minus"></i></button>
        <button id="nakama-pan-left" class="btn btn-default"><i class="fa fa-arrow-left"></i></button>
        <button id="nakama-pan-up" class="btn btn-default"><i class="fa fa-arrow-up"></i></button>
        <button id="nakama-pan-down" class="btn btn-default"><i class="fa fa-arrow-down"></i></button>
        <button id="nakama-pan-right" class="btn btn-default"><i class="fa fa-arrow-right"></i></button>
    </div>
</div>

<div id="nakama-modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>Match found!</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-6">
                        <p><span id="nakama-kanji"></span></p>
                    </div>
                    <div class="col-xs-6">
                        <span id="nakama-result-kanji"></span> <span id="nakama-result-kana" class="text-muted"></span>
                        <p><span id="nakama-result-definition"></span></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <small><p class="text-muted">If the result is incorrect, tap the incorrect characters and press the "Retry" button. You can click <a href="#" id="nakama-data-url" target="_blank">here</a> to see the image used.</p></small>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="nakama-retry" class="btn btn-sm btn-primary"><i class="fa fa-refresh"></i>&nbsp;Retry</button>
                    <a id="nakama-result-search" target="_blank" class="btn btn-sm btn-default" href="#"><i class="fa fa-search"></i>&nbsp;Search</a>
                    <button data-dismiss="modal" class="btn btn-sm btn-default">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="nakama-no-match-modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>No match.</h3>
            </div>
            <div class="modal-body">
                <p class="text-warning">No matching characters found.</p>
            </div>
            <div class="modal-footer">
                <a href="#" data-dismiss="modal" class="btn btn-sm btn-default">Close</a>
            </div>
        </div>
    </div>
</div>
