<% content_for(:title, "My images") %>

<h3>My images</h3>

<% if @photos.count == 0 %>
    <p>You have not uploaded any images yet.</p>
<% end %>
<% @photos.each_slice(3) do |ps| %>
    <div class="row">
        <% ps.each do |photo| %>
            <div class="col-xs-4">
                <div class="thumbnail">
                    <%= link_to photo, :method => :delete, :data => { :confirm => "Do you really want to remove this image?" } do %>
                        <button type="button" class="close" aria-hidden="true">&times;</button>
                    <% end %>
                    <%= link_to photo do %>
                        <%= image_tag photo.file.url(:small) %> 
                    <% end %>
                </div>
            </div>
        <% end %>
    </div>
<% end %>

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <%= will_paginate @photos, :renderer => BootstrapPagination::Rails, :inner_window => 1, :outer_window => 0, :previous_label => "&laquo;", :next_label => "&raquo;" %>
    </div>
</div>

