<% content_for(:title, "Capture image") %>

<h1>Capture image</h1>
<%= form_for @photo, :html => { :multipart => true } do |f| %>
    <% if @photo.errors.any? %>
        <div class="alert alert-warning alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <ul>
          <% for message in @photo.errors.full_messages %><li><%= message %></li><% end %>
        </ul>
    </div>
    <% end %>
    <div class="form-group">
        <%= f.label :file %>
        <%= f.file_field :file, :accept => "image/*", :capture => "camera", :class => "form-control" %>
    </div>
    <div class="checkbox">
        <%= label_tag "Capture image." %> 
        <%= check_box_tag "capture", 1, true %>
        <span class="help-block">Uncheck this box if you want to upload an image that you've already taken.</span>
    </div>
    <%= f.submit "Upload image", :class => "btn btn-default" %>
<% end %>

<% if not current_user %>
    <hr>
    <p>Note that you will only be able to revisit uploaded images if you are signed in!</p>
<% end %>
