<% content_for(:title, "Sample") %>
<% content_for(:description, "Japanese OCR to find words, characters and English translations in an scanned image or photograph of text. Uses Tesseract OCR.") %>

<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <%= image_tag "/images/sample.jpg", :id => "nakama-image" %>
    </div>
</div>

<%= render "controls" %>
