<% content_for(:title, "Find words") %>

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <%= image_tag @photo.file.url(:large), :id => "nakama-image" %>
    </div>
</div>

<%= render "controls" %>
