// Place all the styles related to the photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

span#nakama-kanji {
    line-height: normal;
    font-size: 30px;
}

div#nakama-controls {
    position: fixed;
    opacity: 0.8;
    bottom: 20px;
    left: 50%;
    margin-left: -124.5px;
    z-index: 1000;
}
