<% flash.each do |name, msg| %>
    <% if msg.is_a?(String) %>
        <div class="alert alert-warning alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <%= msg %>
        </div>
    <% end %>
<% end %>
