<nav class="navbar navbar-default role="navigation">
<div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <%= link_to root_path, :class => "navbar-brand" do %>
        <%= image_tag "logo.png" %><%= title %>
    <% end %>
</div>
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">   
        <li class="dropdown"> 
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-book"></i> Dictionary <b class="caret"></b></a>
        <ul class="dropdown-menu">
            <%= navbar_link_to "Search", "search", dictionary_path %>
            <%= navbar_link_to "Glossary", "font", glossary_path %>
        </ul>
        </li>
        <% if current_user %>
            <%= navbar_link_to "My images", "picture-o", myimages_path %>
            <%= navbar_link_to "My words", "list", mywords_path %>
        <% end %>
        <%= navbar_link_to "About", "question", about_path %>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
            <%= navbar_link_to "Sign out", "sign-out", logout_path %>
        <% else %>
            <%= navbar_link_to "Sign in", "sign-in", login_path %>
        <% end %>
    </ul>
</div>
</nav>

