<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"> 
        <meta name="description" content="<%= title %> - <%= content_for?(:description) ? yield(:description) : "Japanese dictionary with OCR feature, example sentences and kanji search." %>">
        <meta name="keywords" content="japanese,dictionary,kanji,ocr,language,english,sentences">
        <meta name="author" content="Andreas Argelius">
        <title><%= title %> - <%= content_for?(:title) ? yield(:title) : "No title" %></title>
        <%= csrf_meta_tags %>

        <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
        <!--[if lt IE 9]>
        <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
        <![endif]-->

        <link href='http://fonts.googleapis.com/css?family=Alegreya' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>

        <%= javascript_include_tag "application" %>
        <%= stylesheet_link_tag "application", :media => "all" %>
    </head>
    <body>
        <div class="container">
            <%= render "layouts/navbar" %>
            <div class="row">
                <div class="col-xs-12">
                    <%= render "layouts/messages" %>
                    <%= yield %>
                </div>
            </div><!--/row-->
        </div> <!-- /container -->
        <div class="loading-modal"></div>
    </body>
</html>
